<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    html {
      height: 100%;
      width: 100%;
    }
    body {
      min-height: 100%;
    }
    table, th, td {
        border: 1px solid rgba(139, 138, 138, 0.555);
        border-collapse: collapse;
        padding-right:10px;
        padding-left:10px;
        white-space: nowrap;
    }
  </style>
</head>

<body>
  <div class="menu-btn">
    <i class="fas fa-bars"></i>
  </div>
  <br>
  <div class="side-bar">
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="item">
        <a href="#" class="sub-item">
          Search stock code:
          <form action="/dashboard" method="POST">
            <input type="text" name="stock_name" id="stock_name">
            <input type="submit" value="Search">
          </form>
        </a>
      </div>
      <div class="item"><a href="/stockmon"><i class="fas fa-desktop"></i>Stock Monitor</a></div>
      <div class="item"><a href="/watchlist"><i class="fas fa-table"></i>Watchlist</a></div>
      <div class="item"><a href="#"><i class="fas fa-th"></i>Feedback</a></div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-cogs"></i>Settings<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
        </div>
      </div>
      <div class="item"><a href="#"><i class="fas fa-info-circle"></i>About Stock Monitor</a></div>
      <div class="item"><a href="/"><i class="fas fa-user-alt-slash"></i>Logout</a></div>
    </div>
  </div>

  <div class="container">
    <p>Date and time: {{ date_time }}</p>
  </div>

  <div style="overflow-y: scroll; height: 700px">
    <section class="main">
      <div class="container">
        <h4>Short List (Previous 5 trading days)</h4>
        <table>
          <tr>
            <th style = "padding-right:10px">Date</th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            <td style = "padding-right:7px">{{ sdata.Date }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          <!-- <tr>
            <th style = "padding-right:10px">AdjClose</th>
            {% for sdata in sdatas  |reverse %}
            {% if loop.index <= 5 %}
            <td style = "padding-right:7px">${{ sdata.AdjClose }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px"></th>
            {% for sdata in sdatas  |reverse %}
            {% if loop.index <= 5 %}
              {% if sdata.AdjClose - sdatas[359-loop.index].AdjClose >= 0 %}
              
              <td style = "color:green">${{ sdata.AdjClose - sdatas[359-loop.index].AdjClose }}</td>
              {% endif %}
              {% if sdata.AdjClose - sdatas[359-loop.index].AdjClose < 0 %}
              
              <td style = "color:red">${{ sdata.AdjClose - sdatas[359-loop.index].AdjClose }}</td>
              {% endif %}
            {% endif %}
            {% endfor %}
          </tr> -->
          <tr>
            <th style = "padding-right:10px">Open</th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            <td style = "padding-right:7px">${{ '%0.2f' % sdata.Open|float }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px"></th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            {% set change_open = sdata.Open - sdatas[loop.index-2].Open %}
              {% if change_open >= 0 %}
              
              <td style = "color:green">${{ '%0.2f' % change_open|float }}</td>
              {% endif %}
              {% if change_open < 0 %}
              
              <td style = "color:red">${{ '%0.2f' % change_open|float }}</td>
              {% endif %}
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px">Close</th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            <td style = "padding-right:7px">${{ '%0.2f' % sdata.Close|float }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px"></th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            {% set change_close = sdata.Close - sdatas[loop.index-2].Close %}
              {% if change_close >= 0 %}
              
              <td style = "color:green">${{ '%0.2f' % change_close|float }}</td>
              {% endif %}
              {% if change_close < 0 %}
              
              <td style = "color:red">${{ '%0.2f' % change_close|float }}</td>
              {% endif %}
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px">High</th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            <td style = "padding-right:7px">${{ '%0.2f' % sdata.High|float }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px"></th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            {% set change_high = sdata.High - sdatas[loop.index-2].High %}
              {% if change_high >= 0 %}
              
              <td style = "color:green">${{ '%0.2f' % change_high|float }}</td>
              {% endif %}
              {% if change_high < 0 %}
              
              <td style = "color:red">${{ '%0.2f' % change_high|float }}</td>
              {% endif %}
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px">Low</th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            <td style = "padding-right:7px">${{ '%0.2f' % sdata.Low|float }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px"></th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            {% set change_low = sdata.Low - sdatas[loop.index-2].Low %}
              {% if change_low >= 0 %}
              
              <td style = "color:green">${{ '%0.2f' % change_low|float }}</td>
              {% endif %}
              {% if change_low < 0 %}
              
              <td style = "color:red">${{ '%0.2f' % change_low|float }}</td>
              {% endif %}
            {% endif %}
            {% endfor %}
          </tr>
          
          <tr>
            <th style = "padding-right:10px">Volume</th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            <td style = "padding-right:7px">{{ add_comma(sdata.Volume) }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px"></th>
            {% for sdata in sdatas %}
            {% if loop.index > 355 %}
            {% set change_vol = sdata.Volume - sdatas[loop.index-2].Volume %}
              {% if change_vol >= 0 %}
              
              <td style = "color:green">{{ add_comma(change_vol) }}</td>
              {% endif %}
              {% if change_vol < 0 %}
              
              <td style = "color:red">{{ add_comma(change_vol) }}</td>
              {% endif %}
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th style = "padding-right:10px">6mAvgVol</th>
            <td style = "padding-right:7px">{{add_comma(avg_volume)}}</td>
          </tr>
          <tr>
            <th style = "padding-right:10px">12mAvgVol</th>
            <td style = "padding-right:7px">{{add_comma(avg_volume_180)}}</td>
          </tr>
          <tr>
            <th style = "padding-right:10px">VWAP6m</th>
            <td style = "padding-right:7px">${{'%0.2f' % vwap_180|float}}</td>
          </tr>
          <tr>
            <th style = "padding-right:10px">VWAP12m</th>
            <td style = "padding-right:7px">${{'%0.2f' % vwap|float}}</td>
          </tr>
          <tr>
            <th style = "padding-right:10px">News</th>
            <td style = "padding-right:7px"><a href="https://www.google.com/news?q={{ stock_display_nm }}" target="_blank">Link</a></td>
          </tr>
      </table>
      <br>
      <th style = "padding-top:10px"><a href="/dashboard/data/{{stock_display_nm}}" class="btn btn-primary">See all Data</a></th>
      </div>
  
      <div class="container">
        <div class="card" style="width:320px">
          <div class="card-body">
            <h2 class="card-title">{{ stock_display_nm }}</h2>
            <h4 class="card-text">Current Price: ${{ '%0.2f' % current_price|float }}</h4>
            <a href="#" class="btn btn-primary">Add Watchlist</a>
            <!-- <a href="#" class="btn btn-primary">See CF & BS</a>  -->
            <a href="#" class="btn btn-primary">Analysis</a>     
          </div>
        </div>
      </div>
    </section>

    <div class = "container">
      <h5>OHLC Chart</h5>
      <div class = "chart" id='stock_chart'>
        <script>
          var graphs = {{plot | safe}};
          Plotly.plot('stock_chart',graphs,{});
        </script>
      </div>
    </div>
  
    <div class = "container">
      <h5>Intra-day:</h5> <a href="#" class="btn btn-primary">Today</a><br>
      {% set price_chg = current_price-sdatas[359].Open %}
      {% set pct_chg = (current_price-sdatas[359].Open)/sdatas[359].Open %}
      Price change: ${{ '%0.2f' % price_chg|float }}
      <br>
      Pct change: {{ '%0.2f' % pct_chg|float }}%
      <br><br>
    </div>
  
    <div class = "container">
      <h5>Stock Holders: </h5>
      <table>
        <tr>
          <td>% of Shares Held by All Insider</td>
          <td>{{ st_holders[0] }}</td>
        </tr>
        <tr>
          
          <td>% of Shares Held by Institutions</td>
          <td>{{ st_holders[1] }}</td>
        </tr>
        <tr>
          <td>% of Float Held by Institutions</td>
          <td>{{ st_holders[2] }}</td>
        </tr>
        <tr>
          <td style = "padding-right:5px">Number of Institutions Holding Shares</td>
          <td>{{ st_holders[3] }}</td>
        </tr>
      </table>
    </div>
  </div>
  
 
  <script type="text/javascript">
    $(document).ready(function () {
      //jquery for toggle sub menus
      $('.sub-btn').click(function () {
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });

      //jquery for expand and collapse the sidebar
      $('.menu-btn').click(function () {
        $('.side-bar').addClass('active');
        $('.menu-btn').css("visibility", "hidden");
      });

      $('.close-btn').click(function () {
        $('.side-bar').removeClass('active');
        $('.menu-btn').css("visibility", "visible");
      });
    });
  </script>

</body>

</html>
<!--
data order: open, close, high, low, volume
date format change dd-mm-yyyy 
308,713 all volumes field
two decimal
intraday trades
top 20 share holders
12m plot graph
-->