{% extends 'content.html' %}

{% block head %}
  <title>Dashboard</title>
  <style>
    html {
      height: 100%;
      width: 100%;
    }
    body {
      min-height: 100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-right:10px;
        padding-left:10px;
        white-space: nowrap;
    }
  </style>
{% endblock %}

{% block body %}
  <section class="main">
    <div class="container">
      <h4>{{stock_display_nm}} Full Stock history</h4>

      <div style="overflow-x: scroll; width:90%;">
        <table>
            <tr>
              <th style = "padding-right:10px">Date</th>
              {% for sdata in sdatas |reverse %}
              <td style = "padding-right:7px">{{ sdata.Date }}</td>
              {% endfor %}
            </tr>
            <tr>
                <th style = "padding-right:10px">Open</th>
                {% for sdata in sdatas  |reverse %}
                {% if sdata.Open >= 0.1 %}
                <td style = "padding-right:7px">${{ '%0.2f' % sdata.Open|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "padding-right:7px">${{ '%0.3f' % sdata.Open|float }}</td>
                {% endif %}
                
                {% endfor %}
              </tr>
              <tr>
                <th style = "padding-right:10px"></th>
                {% for sdata in sdatas  |reverse %}
                {% set change_open = sdata.Open - sdatas[359-loop.index].Open %}
                  {% if change_open >= 0 %}
                  {% if sdata.Open >= 0.1 %}
                  <td style = "color:green">${{ '%0.2f' % change_open|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "color:green">${{ '%0.3f' % change_open|float }}</td>
                {% endif %}
                  
                  {% endif %}
                  {% if change_open < 0 %}
                  {% if sdata.Open >= 0.1 %}
                  <td style = "color:red">${{ '%0.2f' % change_open|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "color:red">${{ '%0.3f' % change_open|float }}</td>
                {% endif %}
                  
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th style = "padding-right:10px">Close</th>
                {% for sdata in sdatas  |reverse %}
                {% if sdata.Open >= 0.1 %}
                <td style = "padding-right:7px">${{ '%0.2f' % sdata.Close|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "padding-right:7px">${{ '%0.3f' % sdata.Close|float }}</td>
                {% endif %}
                
                {% endfor %}
              </tr>
              <tr>
                <th style = "padding-right:10px"></th>
                {% for sdata in sdatas  |reverse %}
                {% set change_close = sdata.Close - sdatas[359-loop.index].Close %}
                  {% if change_close >= 0 %}
                  {% if sdata.Open >= 0.1 %}
                  <td style = "color:green">${{ '%0.2f' % change_close|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "color:green">${{ '%0.3f' % change_close|float }}</td>
                {% endif %}
                  
                  {% endif %}
                  {% if change_close < 0 %}
                  {% if sdata.Open >= 0.1 %}
                  <td style = "color:red">${{ '%0.2f' % change_close|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "color:red">${{ '%0.3f' % change_close|float }}</td>
                {% endif %}
                  
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th style = "padding-right:10px">High</th>
                {% for sdata in sdatas  |reverse %}
                {% if sdata.Open >= 0.1 %}
                <td style = "padding-right:7px">${{ '%0.2f' % sdata.High|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "padding-right:7px">${{ '%0.3f' % sdata.High|float }}</td>
                {% endif %}
                
                {% endfor %}
              </tr>
              <tr>
                <th style = "padding-right:10px"></th>
                {% for sdata in sdatas  |reverse %}
                {% set change_high = sdata.High - sdatas[359-loop.index].High %}
                  {% if change_high >= 0 %}
                  {% if sdata.Open >= 0.1 %}
                  <td style = "color:green">${{ '%0.2f' % change_high|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "color:green">${{ '%0.3f' % change_high|float }}</td>
                {% endif %}
                  
                  {% endif %}
                  {% if change_high < 0 %}
                  {% if sdata.Open >= 0.1 %}
                  <td style = "color:red">${{ '%0.2f' % change_high|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "color:red">${{ '%0.3f' % change_high|float }}</td>
                {% endif %}
                  
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th style = "padding-right:10px">Low</th>
                {% for sdata in sdatas  |reverse %}
                {% if sdata.Open >= 0.1 %}
                <td style = "padding-right:7px">${{ '%0.2f' % sdata.Low|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "padding-right:7px">${{ '%0.3f' % sdata.Low|float }}</td>
                {% endif %}
                
                {% endfor %}
              </tr>
              <tr>
                <th style = "padding-right:10px"></th>
                {% for sdata in sdatas  |reverse %}
                {% set change_low = sdata.Low - sdatas[359-loop.index].Low %}
                  {% if change_low >= 0 %}
                  {% if sdata.Open >= 0.1 %}
                  <td style = "color:green">${{ '%0.2f' % change_low|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "color:green">${{ '%0.3f' % change_low|float }}</td>
                {% endif %}
                  
                  {% endif %}
                  {% if change_low < 0 %}
                  {% if sdata.Open >= 0.1 %}
                  <td style = "color:red">${{ '%0.2f' % change_low|float }}</td>
                {% endif %}
                {% if sdata.Open < 0.1 %}
                <td style = "color:red">${{ '%0.3f' % change_low|float }}</td>
                {% endif %}
                  
                  {% endif %}
                {% endfor %}
              </tr>
              
              <tr>
                <th style = "padding-right:10px">Volume</th>
                {% for sdata in sdatas  |reverse %}
                <td style = "padding-right:7px">{{ add_comma(sdata.Volume) }}</td>
                {% endfor %}
              </tr>
              <tr>
                <th style = "padding-right:10px"></th>
                {% for sdata in sdatas  |reverse %}
                {% set change_vol = sdata.Volume - sdatas[359-loop.index].Volume %}
                  {% if change_vol >= 0 %}
                  
                  <td style = "color:green">{{ add_comma(change_vol) }}</td>
                  {% endif %}
                  {% if change_vol < 0 %}
                  
                  <td style = "color:red">{{ add_comma(change_vol) }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
        </table>
      </div>
      
    <br>
    <th style = "padding-top:10px"><a href="javascript:history.back()" class="btn btn-primary">Go back</a></th>
    </div>
  </section>

   {% endblock %}