<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      charset="utf-8"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      html {
        height: 100%;
        width: 100%;
      }
      body {
        min-height: 100%;
        position: center;
      }
      table,
      th,
      td {
        border: 1px solid rgba(139, 138, 138, 0.555);
        border-collapse: collapse;
        padding-right: 10px;
        padding-left: 10px;
        white-space: nowrap;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h4>Short List (Previous 5 trading days)</h4>
      <table>
        <tr>
          <th style="padding-right: 10px">Date</th>
          {% for sdata in sdatas %} {% if loop.index > 355 %}
          <td style="padding-right: 7px">{{ sdata.Date }}</td>
          {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px">Open</th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% if sdata.Open
          >= 0.1 %}
          <td style="padding-right: 7px">${{ '%0.2f' % sdata.Open|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="padding-right: 7px">${{ '%0.3f' % sdata.Open|float }}</td>
          {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px"></th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% set change_open
          = sdata.Open - sdatas[loop.index-2].Open %} {% if change_open >= 0 %}
          {% if sdata.Open >= 0.1 %}
          <td style="color: green">${{ '%0.2f' % change_open|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="color: green">${{ '%0.3f' % change_open|float }}</td>
          {% endif %} {% endif %} {% if change_open < 0 %} {% if sdata.Open >=
          0.1 %}
          <td style="color: red">${{ '%0.2f' % change_open|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="color: red">${{ '%0.3f' % change_open|float }}</td>
          {% endif %} {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px">Close</th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% if sdata.Open
          >= 0.1 %}
          <td style="padding-right: 7px">${{ '%0.2f' % sdata.Close|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="padding-right: 7px">${{ '%0.3f' % sdata.Close|float }}</td>
          {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px"></th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% set
          change_close = sdata.Close - sdatas[loop.index-2].Close %} {% if
          change_close >= 0 %} {% if sdata.Open >= 0.1 %}
          <td style="color: green">${{ '%0.2f' % change_close|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="color: green">${{ '%0.3f' % change_close|float }}</td>
          {% endif %} {% endif %} {% if change_close < 0 %} {% if sdata.Open >=
          0.1 %}
          <td style="color: red">${{ '%0.2f' % change_close|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="color: red">${{ '%0.3f' % change_close|float }}</td>
          {% endif %} {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px">High</th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% if sdata.Open
          >= 0.1 %}
          <td style="padding-right: 7px">${{ '%0.2f' % sdata.High|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="padding-right: 7px">${{ '%0.3f' % sdata.High|float }}</td>
          {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px"></th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% set change_high
          = sdata.High - sdatas[loop.index-2].High %} {% if change_high >= 0 %}
          {% if sdata.Open >= 0.1 %}
          <td style="color: green">${{ '%0.2f' % change_high|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="color: green">${{ '%0.3f' % change_high|float }}</td>
          {% endif %} {% endif %} {% if change_high < 0 %} {% if sdata.Open >=
          0.1 %}
          <td style="color: red">${{ '%0.2f' % change_high|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="color: red">${{ '%0.3f' % change_high|float }}</td>
          {% endif %} {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px">Low</th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% if sdata.Open
          >= 0.1 %}

          <td style="padding-right: 7px">${{ '%0.2f' % sdata.Low|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}

          <td style="padding-right: 7px">${{ '%0.3f' % sdata.Low|float }}</td>
          {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px"></th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% set change_low
          = sdata.Low - sdatas[loop.index-2].Low %} {% if change_low >= 0 %} {%
          if sdata.Open >= 0.1 %}
          <td style="color: green">${{ '%0.2f' % change_low|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="color: green">${{ '%0.3f' % change_low|float }}</td>
          {% endif %} {% endif %} {% if change_low < 0 %} {% if sdata.Open >=
          0.1 %}
          <td style="color: red">${{ '%0.2f' % change_low|float }}</td>
          {% endif %} {% if sdata.Open < 0.1 %}
          <td style="color: red">${{ '%0.3f' % change_low|float }}</td>
          {% endif %} {% endif %} {% endif %} {% endfor %}
        </tr>

        <tr>
          <th style="padding-right: 10px">Volume</th>
          {% for sdata in sdatas %} {% if loop.index > 355 %}
          <td style="padding-right: 7px">{{ add_comma(sdata.Volume) }}</td>
          {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px"></th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% set change_vol
          = sdata.Volume - sdatas[loop.index-2].Volume %} {% if change_vol >= 0
          %}

          <td style="color: green">{{ add_comma(change_vol) }}</td>
          {% endif %} {% if change_vol < 0 %}

          <td style="color: red">{{ add_comma(change_vol) }}</td>
          {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px">6mAvgVol</th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% set
          change_vol_6m = sdata.Volume - avg_volume_180 %} {% if change_vol_6m
          >= 0 %}

          <td style="color: green">{{ add_comma(change_vol_6m) }}</td>
          {% endif %} {% if change_vol_6m < 0 %}

          <td style="color: red">{{ add_comma(change_vol_6m) }}</td>
          {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px">12mAvgVol</th>
          {% for sdata in sdatas %} {% if loop.index > 355 %} {% set
          change_vol_12m = sdata.Volume - avg_volume %} {% if change_vol_12m >=
          0 %}

          <td style="color: green">{{ add_comma(change_vol_12m) }}</td>
          {% endif %} {% if change_vol_12m < 0 %}

          <td style="color: red">{{ add_comma(change_vol_12m) }}</td>
          {% endif %} {% endif %} {% endfor %}
        </tr>
        <tr>
          <th style="padding-right: 10px">VWAP6m</th>
          <td style="padding-right: 7px">${{'%0.2f' % vwap_180|float}}</td>
        </tr>
        <tr>
          <th style="padding-right: 10px">VWAP12m</th>
          <td style="padding-right: 7px">${{'%0.2f' % vwap|float}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
