<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Stock Monitor</title>
  <style>
    table, th, td {
        border: 1px solid rgba(139, 138, 138, 0.555);
        border-collapse: collapse;
        padding-right:10px;
        padding-left:10px;
        white-space: nowrap;
        font-size:85%;
        
    }
    td{
      color: darkgoldenrod;
    }
  </style>

</head>

<body>
  <div class="menu-btn">
    <i class="fas fa-bars"></i>
  </div>
  <br>
  <div class="side-bar">
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="item">
        <a href="#" class="sub-item">
          Search stock code:
          <form action="/dashboard" method="POST">
            <input type="text" name="stock_name" id="stock_name">
            <input type="submit" value="Search">
          </form>
        </a>
      </div>
      <div class="item"><a href="/stockmon"><i class="fas fa-desktop"></i>Stock Monitor</a></div>
      <div class="item"><a href="/watchlist"><i class="fas fa-table"></i>Watchlist</a></div>
      <div class="item"><a href="/feedback"><i class="fas fa-th"></i>Feedback</a></div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-cogs"></i>Settings<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
        </div>
      </div>
      <div class="item"><a href="#"><i class="fas fa-info-circle"></i>About Stock Monitor</a></div>
      <div class="item"><a href="/logout"><i class="fas fa-user-alt-slash"></i>Logout</a></div>
    </div>
  </div>

  <div class="container">
    <p>Date and time: {{ date_time }}</p>
  </div>

  <div class="container">
    <H5>Stock Monitor</H5>
    <h6>Current criteria: Increase in all data fields comparing to yesterday</h6>
  </div>
  <div style="overflow-y: scroll; height: 650px">
    <div class="container">
      <table>
          <tr style = "background-color: rgba(150, 150, 150, 0.863);">
              <th> Stock code </th>
              <th>Watch</th>
              <th> Open</th>
              <th> </th>
              <th> Close</th>
              <th> </th>
              <th> High</th>
              <th> </th>
              <th> Low</th>
              <th> </th>
              <th> Volume</th>
              <th> </th>
              <th> 6mAvgVol </th>
              <th> 12mAvgVol </th>
              <th>$ value</th>
              <th>News</th>
  
          </tr>
          {% for stock in monitorList %}
          <tr style = "text-align: right;">
            <td> 
              <form action="/dashboard" method="POST">
                  <input type="text" value="{{stock.Name}}" name="stock_name" id="stock_name" size="3">
                  <input type="submit" value="dash">
              </form>
            </td>
              <td><a href="/addwatchlist/{{stock.Name}}">Add</a></td>
              
              <!-- <td>{{stock.Sector}}</td> -->
              {% if stock.Open >= 0.1 %}
              <td style ="background-color: rgba(78, 172, 216, 0.253);font-weight: bold;">${{ '%0.2f' % stock.Open|float}}</td>
              {% endif %}
              {% if stock.Open < 0.1 %}
              <td style ="background-color: rgba(78, 172, 216, 0.219);font-weight: bold;">${{ '%0.3f' % stock.Open|float}}</td>
              {% endif %}

              {% if stock.change_open >= 0.1 %}
              <td style = "color:green; ">${{ '%0.2f' % stock.change_open|float}}</td>
              {% endif %}
              {% if stock.change_open < 0.1 %}
              <td style = "color:green; ">${{ '%0.3f' % stock.change_open|float}}</td>
              {% endif %}

              {% if stock.Close >= 0.1 %}
              <td style ="background-color: rgba(78, 172, 216, 0.247);font-weight: bold;">${{ '%0.2f' % stock.Close|float}}</td>
              {% endif %} 
              {% if stock.Close < 0.1 %}
              <td style ="background-color: rgba(78, 172, 216, 0.26);font-weight: bold;">${{ '%0.3f' % stock.Close|float}}</td>
              {% endif %} 

              {% if stock.change_close >= 0.1 %}
              <td style = "color:green;">${{ '%0.2f' % stock.change_close|float}}</td>
              {% endif %}
              {% if stock.change_close < 0.1 %}
              <td style = "color:green;">${{ '%0.3f' % stock.change_close|float}}</td>
              {% endif %}

              {% if stock.High >= 0.1 %}
              <td style ="background-color: rgba(78, 172, 216, 0.233);">${{ '%0.2f' % stock.High|float}}</td>
              {% endif %}
              {% if stock.High < 0.1 %}
              <td style ="background-color: rgba(78, 172, 216, 0.267);">${{ '%0.3f' % stock.High|float}}</td>
              {% endif %}

              {% if stock.change_high >= 0.1 %}
              <td style = "color:green">${{ '%0.2f' % stock.change_high|float}}</td>
              {% endif %}
              {% if stock.change_high < 0.1 %}
              <td style = "color:green">${{ '%0.3f' % stock.change_high|float}}</td>
              {% endif %}

              {% if stock.Low >= 0.1 %}
              <td style ="background-color: rgba(78, 172, 216, 0.274);">${{ '%0.2f' % stock.Low|float}}</td>
              {% endif %}
              {% if stock.Low < 0.1 %}
              <td style ="background-color: rgba(78, 172, 216, 0.253);">${{ '%0.3f' % stock.Low|float}}</td>
              {% endif %}

              {% if stock.change_low >= 0.1 %}
              <td style = "color:green;">${{ '%0.2f' % stock.change_low|float}}</td>
              {% endif %}
              {% if stock.change_low < 0.1 %}
              <td style = "color:green;">${{ '%0.3f' % stock.change_low|float}}</td>
              {% endif %}

              <td style ="background-color: rgba(78, 172, 216, 0.253);">{{add_comma(stock.Volume)}}</td>
              <td>{{add_comma(stock.change_volume)}}</td>
              <td>{{add_comma(stock.vol6m)}}</td>
              <td>{{add_comma(stock.vol12m)}}</td>
              <td>${{ add_comma(stock.CV)}}</td>
              <td style = "padding-right:7px"><a href="https://www2.asx.com.au/markets/trade-our-cash-market/announcements.{{stock.Name}}" target="_blank">Link</a></td>
              
          </tr>
          {% endfor %}
          
      </table>
    </div>
  </div>
  
 
 
  <script type="text/javascript">
    $(document).ready(function () {
      //jquery for toggle sub menus
      $('.sub-btn').click(function () {
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });

      //jquery for expand and collapse the sidebar
      $('.menu-btn').click(function () {
        $('.side-bar').addClass('active');
        $('.menu-btn').css("visibility", "hidden");
      });

      $('.close-btn').click(function () {
        $('.side-bar').removeClass('active');
        $('.menu-btn').css("visibility", "visible");
      });
    });
  </script>

</body>

</html>