<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Monitor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    table, th, td {
        border: 1px solid rgba(139, 138, 138, 0.555);
        border-collapse: collapse;
        padding-right:10px;
        padding-left:10px;
        white-space: nowrap;
    }
  </style>
</head>

<body>
  <div class="menu-btn">
    <i class="fas fa-bars"></i>
  </div>
  <br>
  <div class="side-bar">
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="item">
        <a href="#" class="sub-item">
          Search stock code:
          <form action="/dashboard" method="POST">
            <input type="text" name="stock_name" id="stock_name">
            <input type="submit" value="Search">
          </form>
        </a>
      </div>
      <div class="item"><a href="/stockmon"><i class="fas fa-desktop"></i>Stock Monitor</a></div>
      <div class="item"><a href="/watchlist"><i class="fas fa-table"></i>Watchlist</a></div>
      <div class="item"><a href="#"><i class="fas fa-th"></i>Feedback</a></div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-cogs"></i>Settings<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
        </div>
      </div>
      <div class="item"><a href="#"><i class="fas fa-info-circle"></i>About Stock Monitor</a></div>
      <div class="item"><a href="/"><i class="fas fa-user-alt-slash"></i>Logout</a></div>
    </div>
  </div>

  <div class="container">
    <p>Date and time: {{ date_time }}</p>
  </div>

  <div class="container">
    <H5>Stock Monitor</H5>
    <h6>Current criteria: Increase in all data fields comparing to yesterday</h6>
  </div>
  <div style="overflow-y: scroll; height: 650px">
    <div class="container">
      <table>
          <tr>
              <th> Stock code </th>
              
              <th> Open</th>
              <th> </th>
              <th> Close</th>
              <th> </th>
              <th> High</th>
              <th> </th>
              <th> Low</th>
              <th> </th>
              <th> Volume</th>
              <th> </th>
              <th></th>
  
          </tr>
          {% for stock in monitorList %}
          <tr>
              <td style = "padding-right:7px">{{stock.Name}}</td>

              <td>${{ '%0.2f' % stock.Open|float}}</td>
              <td style = "color:green">${{ '%0.2f' % stock.change_open|float}}</td>
              <td>${{ '%0.2f' % stock.Close|float}}</td>
              <td style = "color:green">${{ '%0.2f' % stock.change_close|float}}</td>
              <td>${{ '%0.2f' % stock.High|float}}</td>
              <td style = "color:green">${{ '%0.2f' % stock.change_high|float}}</td>
              <td>${{ '%0.2f' % stock.Low|float}}</td>
              <td style = "color:green">${{ '%0.2f' % stock.change_low|float}}</td>
              <td>${{add_comma(stock.Volume)}}</td>
              <td>${{add_comma(stock.change_volume)}}</td>
              <td> 
                  <form action="/dashboard" method="POST">
                      <input type="text" value="{{stock.Name}}.AX" name="stock_name" id="stock_name" size="4">
                      <input type="submit" value="dashboard">
                  </form>
              </td>
          </tr>
          {% endfor %}
          
      </table>
    </div>
  </div>
  
 
 
  <script type="text/javascript">
    $(document).ready(function () {
      //jquery for toggle sub menus
      $('.sub-btn').click(function () {
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });

      //jquery for expand and collapse the sidebar
      $('.menu-btn').click(function () {
        $('.side-bar').addClass('active');
        $('.menu-btn').css("visibility", "hidden");
      });

      $('.close-btn').click(function () {
        $('.side-bar').removeClass('active');
        $('.menu-btn').css("visibility", "visible");
      });
    });
  </script>

</body>

</html>