{% extends 'content.html' %} {% block head %}
<title>Stock Monitor</title>
<style>
  table,
  th,
  td {
    border: 1px solid rgba(139, 138, 138, 0.555);
    border-collapse: collapse;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
    font-size: 85%;
  }
  td {
    color: rgb(156, 115, 10);
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* The Close Button */
  .close {
    color: #131212;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* Modal Header */
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  /* Modal Body */
  .modal-body {
    padding: 2px 16px;
  }

  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  /* Add Animation */
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
</style>

{% endblock %} {% block body %}
<div class="container">
  <h3 style="font-family: Poppins, sans-serif">StockMonitor</h3>
</div>
<div class="container">
  <h6 style="font-family: Poppins, sans-serif">Stocks filtered by price of:</h6>
  <div class="btn-group btn-group-justified">
    {% if stockmon_filter == "1day" %}
    <a href="/stockmon/1day" class="btn btn-primary">1 day</a>
    {% else %}
    <a href="/stockmon/1day" class="btn btn-secondary">1 day</a>
    {% endif %} {% if stockmon_filter == "3days" %}
    <a href="/stockmon/3days" class="btn btn-primary">3 days</a>
    {% else %}
    <a href="/stockmon/3days" class="btn btn-secondary">3 days</a>
    {% endif %} {% if stockmon_filter == "4days" %}
    <a href="/stockmon/4days" class="btn btn-primary">4 days</a>
    {% else %}
    <a href="/stockmon/4days" class="btn btn-secondary">4 days</a>
    {% endif %} {% if stockmon_filter == "5days" %}
    <a href="/stockmon/5days" class="btn btn-primary">5 days</a>
    {% else %}
    <a href="/stockmon/5days" class="btn btn-secondary">5 days</a>
    {% endif %}
  </div>
</div>

<br />
<div>
  <div class="container">
    <table>
      <tr style="background-color: rgba(150, 150, 150, 0.863)">
        <th>Stock</th>
        <th>Watch</th>
        <th>News</th>
        <th>Open</th>
        <th></th>
        <th>Close</th>
        <th></th>
        <th>High</th>
        <th></th>
        <th>Low</th>
        <th></th>
        <th>Volume</th>
        <th></th>
        <th>6mAvgVol</th>
        <th>12mAvgVol</th>
        <th>$ value</th>
      </tr>
      {% for stock in monitorList %}
      <tr style="text-align: right">
        <td style="text-align: center">
          <div>
            <a style="font-size: larger" href="/dashboard/{{stock.Name}}"
              >{{stock.Name}}</a
            >
            <button id="myBtn">...</button>
            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                  <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                  <object type="text/html" data="/modal/{{stock.Name}}" width="100%" height="500px" style="overflow:auto;">
    </object>
                <div class="modal-footer"></div>
              </div>
            </div>
          </div>
          <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function () {
              modal.style.display = "block";
            };

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
              modal.style.display = "none";
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            };
          </script>
        </td>

        <td style="text-align: center">
          <a
            style="padding: 2px"
            class="btn btn-primary btn-sm"
            href="/addwatchlist/{{stock.Name}}"
            >Add</a
          >
        </td>
        <td style="text-align: center">
          <a
            style="padding: 2px"
            class="btn btn-outline-primary btn-sm"
            href="https://www2.asx.com.au/markets/trade-our-cash-market/announcements.{{stock.Name}}"
            target="_blank"
            >Link</a
          >
        </td>
        <!-- <td>{{stock.Sector}}</td> -->
        {% if stock.Open >= 0.1 %}
        <td
          style="background-color: rgba(78, 172, 216, 0.253); font-weight: bold"
        >
          ${{ '%0.2f' % stock.Open|float}}
        </td>
        {% endif %} {% if stock.Open < 0.1 %}
        <td
          style="background-color: rgba(78, 172, 216, 0.219); font-weight: bold"
        >
          ${{ '%0.3f' % stock.Open|float}}
        </td>
        {% endif %} {% if stock.change_open >= 0.1 %}
        <td style="color: green">${{ '%0.2f' % stock.change_open|float}}</td>
        {% endif %} {% if stock.change_open < 0.1 %}
        <td style="color: green">${{ '%0.3f' % stock.change_open|float}}</td>
        {% endif %} {% if stock.Close >= 0.1 %}
        <td
          style="background-color: rgba(78, 172, 216, 0.247); font-weight: bold"
        >
          ${{ '%0.2f' % stock.Close|float}}
        </td>
        {% endif %} {% if stock.Close < 0.1 %}
        <td
          style="background-color: rgba(78, 172, 216, 0.26); font-weight: bold"
        >
          ${{ '%0.3f' % stock.Close|float}}
        </td>
        {% endif %} {% if stock.change_close >= 0.1 %}
        <td style="color: green">${{ '%0.2f' % stock.change_close|float}}</td>
        {% endif %} {% if stock.change_close < 0.1 %}
        <td style="color: green">${{ '%0.3f' % stock.change_close|float}}</td>
        {% endif %} {% if stock.High >= 0.1 %}
        <td style="background-color: rgba(78, 172, 216, 0.233)">
          ${{ '%0.2f' % stock.High|float}}
        </td>
        {% endif %} {% if stock.High < 0.1 %}
        <td style="background-color: rgba(78, 172, 216, 0.267)">
          ${{ '%0.3f' % stock.High|float}}
        </td>
        {% endif %} {% if stock.change_high >= 0.1 %}
        <td style="color: green">${{ '%0.2f' % stock.change_high|float}}</td>
        {% endif %} {% if stock.change_high < 0.1 %}
        <td style="color: green">${{ '%0.3f' % stock.change_high|float}}</td>
        {% endif %} {% if stock.Low >= 0.1 %}
        <td style="background-color: rgba(78, 172, 216, 0.274)">
          ${{ '%0.2f' % stock.Low|float}}
        </td>
        {% endif %} {% if stock.Low < 0.1 %}
        <td style="background-color: rgba(78, 172, 216, 0.253)">
          ${{ '%0.3f' % stock.Low|float}}
        </td>
        {% endif %} {% if stock.change_low >= 0.1 %}
        <td style="color: green">${{ '%0.2f' % stock.change_low|float}}</td>
        {% endif %} {% if stock.change_low < 0.1 %}
        <td style="color: green">${{ '%0.3f' % stock.change_low|float}}</td>
        {% endif %}

        <td style="background-color: rgba(78, 172, 216, 0.253)">
          {{add_comma(stock.Volume)}}
        </td>
        <td style="color: green">{{add_comma(stock.change_volume)}}</td>
        <td>{{add_comma(stock.vol6m)}}</td>
        <td>{{add_comma(stock.vol12m)}}</td>
        <td>${{ add_comma(stock.CV)}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
