<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Monitor UI prototype</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="menu-btn">
    <i class="fas fa-bars"></i>
  </div>
  <br>
  <div class="side-bar">
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="item">
        <a href="#" class="sub-item">
          Search stock code:
          <form action="/dashboard" method="POST">
            <input type="text" name="stock_name" id="stock_name">
            <input type="submit" value="Search">
          </form>
        </a>
      </div>
      <div class="item"><a href="/dashboard"><i class="fas fa-desktop"></i>Dashboard</a></div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Watch List<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu"> 
          <a href="#" class="sub-item">Stock 01</a>
          <a href="#" class="sub-item">Stock 02</a>
          <a href="#" class="sub-item">Stock 03</a>
        </div>
      </div>
      <div class="item"><a href="#"><i class="fas fa-th"></i>Feedback</a></div>
      <div class="item">
        <a class="sub-btn"><i class="fas fa-cogs"></i>Settings<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Sub Item 01</a>
          <a href="#" class="sub-item">Sub Item 02</a>
        </div>
      </div>
      <div class="item"><a href="#"><i class="fas fa-info-circle"></i>About Stock Monitor</a></div>
      <div class="item"><a href="/"><i class="fas fa-user-alt-slash"></i>Logout</a></div>
    </div>
  </div>

  <div class="container">
    <p>Date and time: {{ date_time }}</p>
  </div>

  <section class="main">
    <div class="container">
      <h4>5d Stock history</h4>
      <table>
        <tr>
          <th>Date</th>
          {% for sdata in sdatas %}
          <td style = "padding-right:5px">{{ sdata.Date }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th style = "padding-right:5px">AdjClose</th>
          {% for sdata in sdatas %}
          <td style = "padding-right:5px">{{ sdata.AdjClose }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Close</th>
          {% for sdata in sdatas %}
          <td style = "padding-right:5px">{{ sdata.Close }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>High</th>
          {% for sdata in sdatas %}
          <td style = "padding-right:5px">{{ sdata.High }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Low</th>
          {% for sdata in sdatas %}
          <td style = "padding-right:5px">{{ sdata.Low }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Open</th>
          {% for sdata in sdatas %}
          <td style = "padding-right:5px">{{ sdata.Open }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Volume</th>
          {% for sdata in sdatas %}
          <td style = "padding-right:5px">{{ sdata.Volume }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>VWAP</th>
          <td style = "padding-right:5px">{{vwap}}</td>
        </tr>
        <tr>
          <th>News</th>
          <td><a href="https://www.google.com/news?q={{ stock_display_nm }}" target="_blank">Link</a></td>
        </tr>
    </table>
    <br>
    <th style = "padding-top:10px"><a href="#" class="btn btn-primary">See all Data</a></th>
    </div>
    <div class="container">
      <div class="card" style="width:400px">
        <div class="card-body">
          <h2 class="card-title">{{ stock_display_nm }}</h2>
          <h4 class="card-text">Current Price: {{ current_price }}</h4>
          <a href="#" class="btn btn-primary">Add Watchlist</a>
          <a href="#" class="btn btn-primary">See CF & BS</a> 
          <a href="#" class="btn btn-primary">Analysis</a>     
        </div>
      </div>
    </div>
  </section>

  <div class = "container">
    <h5>Intra-day trades:</h5>
    <a href="#" class="btn btn-primary">Today</a>
    <a href="#" class="btn btn-primary">Yestrday</a><br><br>
  </div>

  <div class = "container">
    <h5>Stock Holders: </h5>
    <table>
      <tr>
        <td>% of Shares Held by All Insider</td>
        <td>{{ st_holders[0] }}</td>
      </tr>
      <tr>
        
        <td>% of Shares Held by Institutions</td>
        <td>{{ st_holders[1] }}</td>
      </tr>
      <tr>
        <td>% of Float Held by Institutions</td>
        <td>{{ st_holders[2] }}</td>
      </tr>
      <tr>
        <td style = "padding-right:5px">Number of Institutions Holding Shares</td>
        <td>{{ st_holders[3] }}</td>
      </tr>
    </table>
  </div>
<br>
  <div class = "container">
    Analyst recommendations: <br>{{ st_recco }}
  </div>
 
  <script type="text/javascript">
    $(document).ready(function () {
      //jquery for toggle sub menus
      $('.sub-btn').click(function () {
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });

      //jquery for expand and collapse the sidebar
      $('.menu-btn').click(function () {
        $('.side-bar').addClass('active');
        $('.menu-btn').css("visibility", "hidden");
      });

      $('.close-btn').click(function () {
        $('.side-bar').removeClass('active');
        $('.menu-btn').css("visibility", "visible");
      });
    });
  </script>

</body>

</html>