{% extends 'content.html' %}

{% block head %}
  <title>Watchlist</title>
  <style>
    table, th, td {
        border: 1px solid rgba(139, 138, 138, 0.555);
        border-collapse: collapse;
        padding-right:10px;
        padding-left:10px;
        white-space: nowrap;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container">
    <H5>Watchlist</H5>
  </div>
  <div style="overflow-y: scroll; height: 650px">
    <div class="container">
      <table>
          <tr style = "background-color: rgba(150, 150, 150, 0.863);">
              <th> Stock code </th>
            <th>Date added</th>
            <th>Price added</th>
            <th>Current price</th>
            <th>Price_change</th>
              <th> </th>
          </tr>
          {% for stock in userlist %}
          <tr style = "text-align: right;">
            <td> 
                <form action="/dashboard" method="POST">
                    <input type="text" value="{{stock.Name}}" name="stock_name" id="stock_name" size="2">
                    <input type="submit" value="dashboard">
                </form>
              </td>
              <td>{{stock.Date_added}}</td>
              <td>${{'%0.2f' % stock.Added_price|float}}</td>
              <td>${{'%0.2f' % stock.Current_price|float}}</td>
              {% if stock.Price_change >= 0 %}
              
              <td style = "color:green">${{ '%0.2f' % stock.Price_change|float }}</td>
              {% endif %}
              {% if stock.Price_change < 0 %}
              
              <td style = "color:red">${{ '%0.2f' % stock.Price_change|float }}</td>
              {% endif %}
              <td><a href="/remove/{{stock.Name}}">remove</a></td>
          </tr>
          {% endfor %}
          
      </table>
    </div>
  </div>
 
  {% endblock %}